:root {
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --DarkBlue: hsl(213, 19%, 18%);
    --MediumGrey: hsl(216, 12%, 54%);
    --LightGrey: hsl(217, 12%, 63%);
    --White: hsl(0, 0%, 100%);
    --Orange: hsl(25, 97%, 53%)
}

.overpass{
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: var(--VeryDarkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: var(--White);
}
p {
    font-size: 15px;
}
@media (min-width:375px) {
    .card-review{
        width: 70%;
    }
}

@media (min-width:570px) {
    .card-review{
        width: 70%;
    }
}

@media (min-width:768px) {
    .card-review{
        width: 50%;
    }
}

@media (min-width:960px) {
    .card-review{
        width: 35%;
    }
}

@media (min-width:1200px) {
    .card-review{
        width: 30%;
    }
}
@media (min-width:1440px) {
    .card-review{
        width: 25%;
    }
}
.card-review{
    background-color: var(--DarkBlue);
    height: 50vh;
    border-radius: 10px;
    margin: auto;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.card-icon-star img{
    background-color: var(--LightGrey);
    height: 15px;
    border-radius: 100%;
    padding: 10px;
}

.card-testo p{
    color: var(--LightGrey);
}

.card-rating ul{
    display: flex;
    list-style: none;
    list-style-type: none;
    
    padding-left: 0px;
    justify-content: space-between;
}

.card-rating ul li{
    background-color: var(--MediumGrey);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}

.card-submit{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-submit p{
    margin-top: 0px;
    width: 90%;
    border-radius: 25px;
    background-color:var(--Orange); 
    padding-top: 15px;
    padding-bottom: 15px;
}